body {
    background-color: #24292f;
}

h1 {
    color: #a04a4a;
}

#box {
    background-color: white;
    border: 2px solid black;
    margin: auto;
    width: 600px;
    padding: 20px;
}

label {
    color: grey;
}

/* ERROR */
.error {
    background-color: #a04a4a;
    border-radius: 15px;
    margin: 15px;
}
